<% layout('layout') -%>
<div class="container">

    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="intro-heading">Profile</h1>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-md-6">
          <div class="profile-picture">
            <img src="images/profile.png" style="width:200px; height: 250px;"/>
            <!-- <img src="<%= user.profile.picture %>" class="img-responsive img-circle" alt=""> -->
            <h4><%= user.profile.name %></h4><br>
            <a href="/edit-profile" class="page-scroll btn btn-xl">Edit Profile</a>
          </div>
        </div>
        <div class="col-md-6" style="text-align: left">
            <span class="fa-stack fa-4x"></span>
            <p class="profile-description"><strong>Name:</strong> <%= user.profile.name %></p>
            <p class="profile-description"><strong>Email:</strong> <%= user.email %></p>

            <% if (user.address === "" || typeof user.address === 'undefined')  { %>
              <p class="profile-description"><strong>Address:</strong> <span style="color: #c0392b; font-weight: bold">You have no address</span></p>

            <% } else { %>

            <p class="profile-description"><strong>Address:</strong> <%= user.address %></p>

            <% } %>
        </div>
    </div>
</div>
